<?xml version="1.0"?>
<launch>

    <node pkg="nodelet" type="nodelet" name="zbar_manager" args="manager"/>

    <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader">
        <remap from="image" to="/bebop/image_raw"/>
        <param name="throttle_repeated_barcodes" type="double" value="0.0"/>
    </node>

</launch>